
#header {
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header::before {
    background: black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    z-index: 2;
}

#navbarNav {
    justify-content: end;
}

#navbarNav a:hover {
    color: teal;
}

#header-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

#header-text h1 {
    font-size: 3rem;
}


#about {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


#about > div > div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#about > div > div:first-child {
    align-items: center;
    justify-content: center;
}

#about > div > div:last-child {
    align-items: start;
    justify-content: center;
}


#profile-photo {
    border-radius: 1rem;
    width: 60%;
}

#projects a {
    color: #fff;
}

#projects a:hover {
    color: teal;
}

#contact div div {
    padding: 2rem;
}

#contact a {
    color: #fff;
    margin: 1rem;
}

#contact a:hover {
    color: teal;
}


#portfolio > div > div {
    padding: 1rem;
}

.project-card {
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;

}

.project-card img {
    transition: transform 0.3s ease;
    width: 100%;
}

.project-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 128, 0.7); /* Teal overlay */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.5rem;
}
  
.project-card:hover .overlay {
    opacity: 1;
}

#portfolio-detail > div {
    align-items: center;
    display: flex;
    flex-direction: column;

}
